// {
//   "presets": [
//     [
//       "env",
//       {
//         "loose": true,
//         "modules": false
//       }
//     ],
//     "es2015",
//     "react",
//     "babel-preset-stage-3"
//   ],
//   "plugins": [
//     ["import", {"libraryName": "antd-mobile", "style": true}]
//   ]
// }
{
  "presets": [
    "@babel/preset-react",
    // "state-x",
    [
      "@babel/preset-env",
      {
        "modules": false,
        "debug": true,
        "uglify": true,
        "useBuiltIns": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "lodash",
    ["import", {"libraryName": "antd-mobile", "style": true}]
  ]
}